<tr>
  <td style="BORDER-BOTTOM: #575757 1px solid;">
    <%= property.images.first ? link_to(image_tag(property.images.first.image.url('120x90', :jpg)),user_property_path(user, property)) : '' -%></td>
  <td style="BORDER-BOTTOM: #575757 1px solid;"><b><%= property.advert_heading %></b>
    <br />Suburb: <%= property.suburb %>
    <br />Price:  <%= property.display_price %>
    <br />Bedrooms: <%= property.bedrooms %>
    <br />
     <%= link_to 'Click here for more details',user_property_path(user, property) -%>
    <br />
    <br /></td>
</tr>
