<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :phone_work %><br />
  <%= f.text_field :phone_work %>
</p>
<p>
  <%= f.label :phone_after_hours %><br />
  <%= f.text_field :phone_after_hours %>
</p>
<p>
  <%= f.label :phone_mobile %><br />
  <%= f.text_field :phone_mobile %>
</p>
<p>
  <%= f.label :phone_fax %><br />
  <%= f.text_field :phone_fax %>
</p>
<p>
  <%= f.label :company %><br />
  <%= f.text_field :company %>
</p>
<p>
  <%= f.label :tag_line %><br />
  <%= f.text_field :tag_line %>
</p>

<p>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</p>
<p>
  <%= f.label :domain_name %><br />
  <%= f.text_field :domain_name %>
</p>
<p>
  <%= f.label :profile_image %><br />
  <%= f.file_field :image %>
</p>